.mainBody {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto 1fr 1fr 1fr auto auto;
    grid-template-areas: "Header Header Header"
                        "Left Containter Right"
                        "Left Containter Right"
                        "Left Containter Right";

    grid-gap: 10px;
    height: 100vh;
    width: 90vw;
    background: lightgray;
    user-select: none;
    }


    .Header {
        grid-area: Header;  
        align-self: center;
        justify-self: center;
        vertical-align: middle;
        font-family: Georgia;
        color: purple;
        font-size: 35px;
        user-select: none;
        padding-top: 40px;
   
    }
    


#todo-container {
    grid-area: Containter;
    height: fit-content;
    width: 20vw;
    height: 88vh;
    background: salmon;
    color: aliceblue;
    font-size: 20px;
    justify-self: center;
    font-weight: bold;
    user-select: none;
    border-radius:50px;
    overflow: auto;
    
}

p {
    padding-left:90px;  
    padding-top: 10px;
}


.Right-Side {
    grid-area: Right;
    user-select: none;
    justify-self: center;
    
}


.Left-Side {
    grid-area: Left;

    background: lightgray;
    color: aliceblue;
    justify-self: center;
    user-select: none;
}

.Right-Side img {
    height: 300px;
    width: 300px;
    padding-top: 40px;

}

.Left-Side img {
    height: 300px;
    width: 300px;
    padding-top: 40px;
    padding-left: 10px;

}



#AnimalLabel {
    padding-left: 45px;
} 

#Animalinput {
    margin-left: 20px;
    margin-top: 10px;
    
}



button {
    
    color: teal !important;
    text-transform: uppercase;
    background: #ffffff;
    padding: 20px;
    border: 4px solid teal !important;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    margin-top: 20px;
    margin-left: 10px;


    
}

button:hover {
    color: yellowgreen !important;
    border-radius: 50px;
    border-color: yellowgreen !important;
    transition: all 0.3s ease 0s;
    }





input[type="checkbox"]{
     /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
  margin-left: 20px;
}


ul li.checked {
    background: teal;
    color: white;
    text-decoration: line-through;
  }
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }


  #AddButton {
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 5px;
    border: 4px solid teal !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    
  }

  #AddButton:hover {
    color: #ffffff !important;
    background: #f6b93b;
    border-color: #f6b93b !important;
    transition: all 0.4s ease 0s;
    }